# Store US Stock Prices in HDF5 Format

## Imports

In [2]:
import pandas as pd

## Load source data

In [3]:
stock_df = pd.read_csv('us_stocks.csv')

## Apply required transformations

In [8]:
stock_df = stock_df.drop(['open', 'high', 'low','close'], axis=1)

KeyError: "['open' 'high' 'low' 'close'] not found in axis"

In [10]:
stock_df = stock_df.rename(columns={'adj_open': 'open', 'adj_high': 'high', 'adj_low': 'low' , 'adj_close': 'close', 'adj_volume': 'volume'})
stock_df.head()

,ticker,date,volume,ex-dividend,split_ratio,open,high,low,close,volume
0,ZUMZ,2018-03-27,403884.0,0.0,1.0,24.65,24.65,23.3500,23.60,403884.0
1,ZUMZ,2018-03-26,375320.0,0.0,1.0,23.75,24.80,23.7000,24.65,375320.0
2,ZUMZ,2018-03-23,301584.0,0.0,1.0,23.55,24.20,23.4500,23.55,301584.0
3,ZUMZ,2018-03-22,269607.0,0.0,1.0,23.90,24.35,23.3000,23.35,269607.0
4,ZUMZ,2018-03-21,354092.0,0.0,1.0,23.80,24.60,23.6058,23.95,354092.0

In [15]:
stock_df['date'] = pd.to_datetime(stock_df['date'])

In [21]:
import datetime

start_dat = datetime.datetime(2000, 1, 1)
stock_df = stock_df[stock_df["date"] > start_dat]

In [22]:
stock_df.set_index(keys=['ticker', 'date'])

                     volume  ex-dividend  split_ratio     open     high  \
ticker date
ZUMZ   2018-03-27  403884.0          0.0          1.0  24.6500  24.6500
       2018-03-26  375320.0          0.0          1.0  23.7500  24.8000
       2018-03-23  301584.0          0.0          1.0  23.5500  24.2000
       2018-03-22  269607.0          0.0          1.0  23.9000  24.3500
       2018-03-21  354092.0          0.0          1.0  23.8000  24.6000
...                     ...          ...          ...      ...      ...
ZQK    2000-01-07  163400.0          0.0          1.0   3.4700   3.5475
       2000-01-06  120600.0          0.0          1.0   3.4850   3.5950
       2000-01-05  161700.0          0.0          1.0   3.5150   3.5625
       2000-01-04  201700.0          0.0          1.0   3.6575   3.6575
       2000-01-03  124900.0          0.0          1.0   3.8450   3.8450

                       low    close    volume
ticker date
ZUMZ   2018-03-27  23.3500  23.6000  403884.0
       2018-03-26  23.7000  24.6500  375320.0
       2018-03-23  23.4500  23.5500  301584.0
       2018-03-22  23.3000  23.3500  269607.0
       2018-03-21  23.6058  23.9500  354092.0
...                    ...      ...       ...
ZQK    2000-01-07   3.4375   3.4850  653600.0
       2000-01-06   3.4700   3.4850  482400.0
       2000-01-05   3.4850   3.4850  646800.0
       2000-01-04   3.3900   3.5475  806800.0
       2000-01-03   3.6875   3.7025  499600.0

[8486 rows x 8 columns]

## Store in HDF5 format

In [25]:
from pandas import HDFStore
hdf = HDFStore('hdf_file.h5')

hdf.put('us_stocks', stock_df, format='table')

In [26]:
hdf.get('/us_stocks')

,ticker,date,volume,volume,ex-dividend,split_ratio,open,high,low,close
0,ZUMZ,2018-03-27,403884.0,403884.0,0.0,1.0,24.6500,24.6500,23.3500,23.6000
1,ZUMZ,2018-03-26,375320.0,375320.0,0.0,1.0,23.7500,24.8000,23.7000,24.6500
2,ZUMZ,2018-03-23,301584.0,301584.0,0.0,1.0,23.5500,24.2000,23.4500,23.5500
3,ZUMZ,2018-03-22,269607.0,269607.0,0.0,1.0,23.9000,24.3500,23.3000,23.3500
4,ZUMZ,2018-03-21,354092.0,354092.0,0.0,1.0,23.8000,24.6000,23.6058,23.9500
...,...,...,...,...,...,...,...,...,...,...
8481,ZQK,2000-01-07,163400.0,653600.0,0.0,1.0,3.4700,3.5475,3.4375,3.4850
8482,ZQK,2000-01-06,120600.0,482400.0,0.0,1.0,3.4850,3.5950,3.4700,3.4850
8483,ZQK,2000-01-05,161700.0,646800.0,0.0,1.0,3.5150,3.5625,3.4850,3.4850
8484,ZQK,2000-01-04,201700.0,806800.0,0.0,1.0,3.6575,3.6575,3.3900,3.5475
8485,ZQK,2000-01-03,124900.0,499600.0,0.0,1.0,3.8450,3.8450,3.6875,3.7025